<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODOP Info</title>
    <link rel="stylesheet" href="odop-mentee-question.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://erp.sathyabama.ac.in/assets/images/logo-new.png" alt="Logo">
        </div>
        <div class="user-profile">
            <img src="https://erp.sathyabama.ac.in/assets/images/Chancellor.jpg" alt="User Avatar">
            <div class="username">Student Mentee</div>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt"></i>  Logout</a>
        </div>
    </nav>



    <div class="container">
        <div class="sidebar">
            <h1 class="dash">Dashboard</h1>
            <div class="admin-profile">
                <div class="admin-icon"><img src="/img/student.jpg" alt="Staff Image"></div>
                <p><%=std_data.std_mentee_Name%></p>
            </div>
            <ul>
                <li><a href="/std-mentee-dashboard"><i class="fas fa-home"></i>  Home</a></li>
                <li><a href="/odop-std-mentee-question"><i class="fas fa-edit"></i>  ODOP Question</a></li>
                <li><a href="/edit-student-by-mentee"><i class="fas fa-user-plus"></i>  Edit Student</a></li>
                <li><a href="/student-mentee-stats"><i class="fas fa-file-alt"></i>  Student Statistics</a></li>
                <li><a href="/odop-std-mentee-clac"><i class="fas fa-file-alt"></i>  ODOP Review</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>ODOP Question</h1>
            <form action="/odop-std-mentee-question" method="post">
                <% if (latestQue) { %>
                    <h4 name="que"><%= latestQue.question %></h4>
                    <input type="hidden" name="question" value="<%= latestQue.question %>">
                    <div class="datetime-container">
                        <label for="deadline">Deadline Time :</label>
                        <input type="datetime-local" name="deadline" id="deadline" required>
                      </div>
                      
                      <div class="link-container">
                        <label for="link">Meeting Link :</label>
                        <input type="text" name="link" id="link" required>
                      </div>
                      
                      <div class="submit-btn">
                        <button class="submit" type="submit">Submit</button>
                      </div>
                  <% } else { %>
                    <h4>No questions available</h4>
                    <input type="hidden" name="question" value="">
                  <% } %>
              </form>
        </div>
    </div>
    <% if (isPosted === "true") { %>
        <script>
        Swal.fire({
            icon: 'success',
            title: 'Question Posted',
            text: 'Question Posted Successfully'
        });
    </script>
    <% } else if (isPosted === "false") {%>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Failed',
                text: 'Failed to Post Question'
            });
        </script>
    <% } else if (isPosted === "already-posted") {%>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Failed',
            text: 'Question Already posted'
        });
    </script>
<% }  %>
</body>
</html>
