body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.dash {
    margin-top: 20px;
    text-align: center;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-profile {
    text-align: center;
    margin-bottom: 20px;
}

.admin-icon img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}


/* navbar */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    max-width: auto;
}

.logo img {
    margin-left: 40px;
    height: 40px;
    width: auto;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile .username {
    font-weight: bold;
    margin-right: 20px;
}

.logout-btn {
    text-decoration: none;
    margin-right: 40px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column
}

.main-content h1 {
    margin-top: 20px;
}

.details {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 10px;
    max-width: 1000px;
    height: auto; /* Let the height be determined by content */
    flex-grow: 1; 
}

.detail-row {
    display: contents;
}

Label {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.input-value {
    padding: 10px;
    max-width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
}
.value {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

.datetime-container {
    display: flex;
    align-items: center;
    background: white;
  }
  .link-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: white;
  }

  label {
    width: 10%;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }

  input[type="datetime-local"] {
    padding: 10px;
    width: 40%;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
  }

  input[type="datetime-local"]:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 255, 0.5);
  }
  input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 255, 0.5);
  }
#odop-ques {
    height: 13em;
    width: 90em;
}
.submit {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.submit:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15)
}

.submit:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.upload-icon {
    margin-right: 10px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }


@media (max-width: 600px) {
    .details {
        grid-template-columns: 1fr;
    }
    .dash {
        font-size: 25px;
    }
    .main-content h1 {
        font-size: 25px;
    }
    .sidebar {
        width: 120px;
        font-size: 14px;
    }
    .navbar-links ul li {
        margin-left: 10px;
    }
    .logo img {
        margin-left: 20px;
    }
    .submit-btn {
        margin-bottom: 100px;
    }
    .submit {
        width: 100%;
    }
}
